<%= f.fields_for :questions do |question_f| %>
  <div class="new_questions">
    <%= question_f.label :query %>:
    <%= question_f.text_field :query, placeholder: 'Your question here', :class => 'query' %>
    <%= question_f.label :option_1 %>:
    <%= question_f.text_field :option1, :class => 'option1' %>
    <%= question_f.label :option_2 %>:
    <%= question_f.text_field :option2, :class => 'option2' %>
    <%= question_f.label :option_3 %>:
    <%= question_f.text_field :option3, :class => 'option3' %>
    <%= question_f.label :option_4 %>:
    <%= question_f.text_field :option4, :class => 'option4' %>
    <%= question_f.label :answer %>:
    <%= question_f.text_field :answer, :class => 'answer' %>
  </div>
<% end %>