= f.fields_for :f do |question_f|
  .new_questions 
    - n += 1
    = question_f.label :query, "Question #{n}"
    = question_f.text_field :query, placeholder: 'Your question here'
    = question_f.label :option1, 'Option 1'
    = question_f.text_field :option1
    = question_f.label :option2, 'Option 2'
    = question_f.text_field :option2
    = question_f.label :option3, 'Option 3'
    = question_f.text_field :option3
    = question_f.label :option4, 'Option 4'
    = question_f.text_field :option4
    = question_f.label :answer
    = question_f.text_field :answer
