= @quiz.title

%ul 
  - @quiz.questions.each do |question|
    %li 
      = question.query
    %li 
      = question.option1
    %li 
      = question.option2
    %li 
      = question.option3
    %li 
      = question.option4

= button_to 'Play Quiz', new_quiz_attempt_path(@quiz), method: :get