= form_for @user do |f|
  #name-field
    = f.label :name
    = f.text_field :name
  #email-field
    = f.label :email
    = f.text_field :email
  #password-field
    = f.label :password
    = f.text_field :password
  #password-confirmation
    = f.label :password_confirmation
    = f.text_field :password_confirmation
  f.submit 'Sign Up'

/ <%= form_for @user do |f| %>  
/   Name: <%= f.text_area :name %><br />  
/   Email: <%= f.text_area :email %><br />  
/   Password: <%= f.text_area :password, value: '' %><br />  
/   Password Confirmtion: <%= f.text_area :password_confirmation %><br />
/   <%= f.submit "Sign Up" %>
/ <% end %>