= form_for @user do |f|
  #name-field
    = f.label :name
    = f.text_field :name
  #email-field
    = f.label :email
    = f.text_field :email
  #password-field
    = f.label :password
    = f.text_field :password, value: ''
  #password-confirmation
    = f.label :password_confirmation
    = f.text_field :password_confirmation
  = f.submit 'Sign Up'