= form_tag quiz_attempts_path do 
  - @quiz.questions.each do |question|
    %h4= question.query
    %label{for: 'option1'}
      =question.option1
      =radio_button "questions", "#{question.id}", "#{question.option1}"
    %label{for: 'option2'}
      =question.option2
      =radio_button "questions", "#{question.id}", "#{question.option2}"
    %label{for: 'option3'}
      =question.option3
      =radio_button "questions", "#{question.id}", "#{question.option3}"
    %label{for: 'option4'}
      =question.option4
      =radio_button "questions", "#{question.id}", "#{question.option4} "
  = submit_tag 'Submit'