<!DOCTYPE html>
<html>
<head>
  <title>QuizApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <a href= "<%= root_path %>"><h1>Welcome to QuizApp!!</h1></a>
    <%= link_to "Sign In", new_session_path %>
    <%= link_to "Sign Up", new_user_path %>
    <%= link_to "Sign Out", sign_out_path, method: 'delete' %>
  </nav>
  <% if !flash[:errors].nil? %>
    Sorry, there were the following problems with the form:
    <ul id="errors">
      <%= flash[:errors] %>
    </ul>
  <% end %>

  <% if flash[:notice] %>
    <div id="notice"><%= flash[:notice] %></div>
  <% end %>
  <%= yield %>

</body>
</html>
